.DS_Store
UserInterfaceState.xcuserstate
*.xcuserstate
xcuserdata/
DerivedData/
build/
dist/
.build/
.swiftpm/
*.ipa
*.dmg
*.app
*.hmap
*.dSYM
*.dSYM.zip
.omx/
native-device-core/target/
windows-host/**/bin/
windows-host/**/obj/
